*{
    margin: 0%;
}
body{
    background-image: url(media/bodyback.png);
    font-family:"montserrat";
    color: white;
}

.header{
    background-color: tomato;
    height: 460px;
    background-image: url(media/header.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header2{
    background-color: tomato;
    height: 460px;
    background-image: url(media/safi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color: #000;
    display: flex;
}
.menu{
    display: flex;
    flex-basis:100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100px;  
    font-size: 19px;
    font-weight: 400px;   
}
.menu li a {
    font-family: montserrat;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 15px;
}
.menu li a:hover{
    color:rgb(87, 203, 240);
}

.logo{
    width: 200px;
    height: 49px;    
    margin-top: 15px;   
    margin-left: 200px;
}
.inscr-btn1{
    width: 172px;
    height: 42px;  
    background-color: #048dff;
    border-radius: 45px;
    border: 0px solid #707070;    
    font-size: 15px;   
    color:  white;  
}
.inscr-btn1:hover{
    background-color: white;
    color: rgb(87, 203, 240);
    margin-top: -5px;
}
.header-cont{
    margin-top: 75px;
}
.cont1{
    color: #f0eeee;
    font-size: 39px;
    font-weight: 400;
    padding-left: 195px;
    }
.cont2{
    color: #f0eeee;     
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    padding-left: 195px;
    margin-top: 30px;
}
.inscr-btn2{
    border-radius: 40px;
    border: 2px solid #ffffff;   
    margin-top: 50px;    
    font-size: 15px;
    font-family: "montserrat" , sans-serif;
    color:   white;   
    background-color: transparent;
    font-weight: 600;
    padding: 15px 35px;
    text-decoration: none;
    position: absolute;
    }
.inscr-btn2:hover{
    background-color: white;
    color: #6C7374;
    margin-top: 45px;
    text-decoration: none;
}
.decouvre-btn{
    border-radius: 40px;
    border: 1px solid #707070;
    background-color:#048dff;
    margin-top: 50px;
    font-size: 15px; 
    font-family: "montserrat" , sans-serif;
    color:white;
    font-weight: 600;
    padding: 16px 35px;
    border-radius: 40px;
    position: absolute;
    margin-left: 176px;
    text-decoration: none;
    box-shadow: #229BFFB8 0px 0px 46px;
}
.decouvre-btn:hover{
    background-color: white;
    color: #6C7374;
    margin-top: 45px;
    text-decoration: none;
}
.title{
    text-align: center;
    width: 426px;
    height: 78px;
    color: #141111;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 400;
    margin-left: 553px;
    padding-top: 100px;
}
.paragraph1{
    text-align: center;
    color:#000;
    font-family:'Montserrat';
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.inscription{
    text-align: center;
    display: flex;
}
.titre{
    color: #000;
    text-align: center;
    font-size: 34px;
    font-family: "montserrat", sans-serif;
    margin-top: 60px;
}
.loginBox{
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    min-height: 450px;
    background: #F2F2F2;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 40px;
    margin-top: 240px;
}
.yclogo{
    width: 150px;
    height: 50px;
    display: block;
    margin-left: 170px;
    margin-top: 20px; 
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
    
}
.loginBox input[type="text"],
.loginBox input[type="password"]{
border: none;
border-bottom: 2px solid #262626;
outline: none;
height: 40px;
color: #262626;
background: transparent;
font-size: 11px;
padding-left: 20px;
}
.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus{
    border-bottom: 2px solid #f00;
}
.inputBox{
    position: relative;
}
.inputBox span{
    position: absolute;
    top: 10px;
    color: #2b2b2b;
}
.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 20px;
    background: rgba(4, 142, 255, 0.692);
    color: #fffafa;
    border-radius: 20px;
    text-align: center;
}
.loginBox a{
   color: #58B3DA;
   font-size: 12px;
   text-decoration: none;
   text-align: center;
   margin-top: 5px;
}
.formateur{
    margin: auto;
    
}
.nom{
    color: black;
    text-align: center;
}
.email{
    font-size: 20px;
    color: dimgrey;
    margin-top: 10px;
}
.infos{
    text-align: center;
}
.ajouter{
    border-radius: 40px;
    border: 1px solid #707070;
    background-color:#048dff;
    margin-top: 50px;
    font-size: 15px; 
    font-family: "montserrat" , sans-serif;
    color:white;
    font-weight: 600;
    padding: 16px 35px;
    border-radius: 40px;
    position: absolute;
    margin-left: 176px;
    text-decoration: none;
    box-shadow: #229BFFB8 0px 0px 46px;
}
.recherche{
    border-radius: 40px;
    border: 1px solid #707070;
    background-color:#048dff;
    margin-top: 50px;
    font-size: 15px; 
    font-family: "montserrat" , sans-serif;
    color:white;
    font-weight: 600;
    padding: 16px 80px;
    border-radius: 40px;
    position: absolute;
    margin-left: 500px;
    text-decoration: none;
    box-shadow: #229BFFB8 0px 0px 46px;
}
.info-button{
    margin-left: 300px;

}
.listes{
    text-align: center;
    color: black;
    font-size: 28px;
    margin-top: 150px;
}

table, th, td {
    border: 1px solid black;
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    margin-left: 340px;
  }
  .menu2{
      font-size: 40px;
      text-align: center;
      display: flex;
      flex-basis:100%;
      justify-content: center;
      align-items: center;
      list-style: none;
      height: 100px;  
      font-weight: 400px; 
      color: white;
      text-decoration: none;
  }
  .menu2 li a {
    font-family: montserrat;
    font-size: 40px;
    text-decoration: none;
    color: white;
    padding: 15px;
  }
.tableaudebord{
    display: flex;
    padding: 10px;
  }
.medimg{
    margin-left: 40px;
    margin-top: 40px;
}
.etudiantimg{
    display: block;
}
.etudianttableau{
    margin-left: 40px;
}
.personal-infos{
    color: grey;
    font-size: 8px;  
}
.oubouhia{
    text-align: left;
    font-size: 28px;
    color: rgb(70, 70, 70);
}
.imginfos{
    display: block;
}
.retour{
    display: block;
    color: black;
    border: black;
    padding: 15px 40px;
    border-radius: 50px;
    text-align: center;
    background-color: #048DFF;
    width: 200px;
    margin: auto;
}
.seconnecter{
    background-color:#048DFF ; 
    border-radius: 50px;
    padding: 10px 40px;
    width: 400px;
    display: flex;
    text-align: center !important;
    color: white !important;
    font-size: 22px !important;
}

.footer-distributed{
    background-color: #000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-align: left;
    font: bold 16px sans-serif;
    color:#8f9296; 
    font-size: 14px;
    display: block;

}
.copyright {
color:#8f9296;
font-size: 14px;
font-weight: normal;
text-align: center;
margin: 0;
}
.footer-icons{
margin-right: 10px;
text-align: right;
}

.articlesafi{
    color: black;
    text-align: center;
    margin: 2px;
    text-align: center;
    color:#000;
    font-family:'Montserrat';
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
    margin-top: 20px;
}
.aboutsafi{
    margin-top: 20px;
}
.gallery{
    color: black;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
}
.safigallery{
    margin-left: 50px;
    margin-top: 30px;
}
.connectertitre{
    text-align: center;
    color: black;
    margin-top: 10px;
}


